In [ ]:
df = self.train_data[self.train_data['fips'] == 1001]


df['year'] = pd.to_datetime(df['date']).dt.year
df['week_num'] = pd.to_datetime(df['date']).dt.week

df['score_day'] = df['score'].apply(lambda x: 'yes' if pd.notnull(x) == True else '')

aggregated_data_train = df.groupby(['fips','year','week_num']).agg(
                                {'PRECTOT': ['mean'],
                                'PS': ['mean'],
                                'QV2M': ['mean'],
                                'T2M': ['mean'],
                                'T2MDEW': ['mean'],
                                'T2MWET': ['mean'],
                                'T2M_MAX': ['mean'],
                                'T2M_MIN': ['mean'],
                                'T2M_RANGE': ['mean'],
                                 'TS': ['mean'],
                                 'WS10M': ['mean'],
                                 'WS10M_MAX': ['mean'],
                                 'WS10M_MIN': ['mean'],
                                 'WS10M_RANGE': ['mean'],
                                 'WS50M': ['mean'],
                                 'WS50M_MAX': ['mean'],
                                 'WS50M_MIN': ['mean'],
                                 'WS50M_RANGE': ['mean'],
                                 'score': 'max'}).reset_index().sort_values(['fips','year','week_num'])

aggregated_data_train.columns = ['_'.join(col) for col in aggregated_data_train.columns.values]
aggregated_data_train['score_max'] = aggregated_data_train['score_max'].map(lambda x: np.round(x))

fips_dict = self.fips_dict.drop(columns=['COUNTYNAME',"STATE",'geom']).rename(columns={'fips':'fips_'})
fips_dict["lat_long"] = fips_dict["lat_long"].transform(lambda x: ast.literal_eval(x))
fips_dict["lat"] = pd.DataFrame(fips_dict["lat_long"].tolist())[0]
fips_dict["long"] = pd.DataFrame(fips_dict["lat_long"].tolist())[1]
fips_dict.drop(columns=["lat_long"],inplace=True)
aggregated_data_train = pd.merge(aggregated_data_train,fips_dict, on=["fips_"], how="inner")
aggregated_data_train = aggregated_data_train[['fips_', 'year_', 'week_num_', 'PRECTOT_mean', 'PS_mean', 'QV2M_mean',
'T2M_mean', 'T2MDEW_mean', 'T2MWET_mean', 'T2M_MAX_mean',
'T2M_MIN_mean', 'T2M_RANGE_mean', 'TS_mean', 'WS10M_mean',
'WS10M_MAX_mean', 'WS10M_MIN_mean', 'WS10M_RANGE_mean', 'WS50M_mean',
'WS50M_MAX_mean', 'WS50M_MIN_mean', 'WS50M_RANGE_mean','lat', 'long','score_max']]

In [5]:
import os
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.tree import DecisionTreeClassifier
import ast


file_path = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
full_path_train = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'train_timeseries.csv')
full_path_validate = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'validation_timeseries.csv')
full_path_test = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'test_timeseries.csv')
full_path_fips = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'fips_dict.csv')

train_data = pd.read_csv(full_path_train)[2:]
df = train_data[train_data['fips'] == 1001]

In [6]:
df.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN
5,1001,2000-01-06,0.01,101.31,3.49,4.99,-1.11,-1.07,12.89,-2.96,...,3.32,1.55,2.39,0.04,2.35,2.95,5.22,0.05,5.17,NaN
6,1001,2000-01-07,0.01,101.37,3.93,5.99,0.55,0.58,14.51,0.63,...,5.69,2.31,3.28,1.59,1.69,5.02,6.47,2.44,4.03,NaN

In [7]:
df['year'] = pd.to_datetime(df['date']).dt.year
df['week_num'] = pd.to_datetime(df['date']).dt.week
df.head()

/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/202400404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.to_datetime(df['date']).dt.year
/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/202400404.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week_num'] = pd.to_datetime(df['date']).dt.week
/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/202400404.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_num'] = pd.to_datetime(df['date']).dt.week

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score,year,week_num
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN,2000,1
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0,2000,1
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN,2000,1
5,1001,2000-01-06,0.01,101.31,3.49,4.99,-1.11,-1.07,12.89,-2.96,...,2.39,0.04,2.35,2.95,5.22,0.05,5.17,NaN,2000,1
6,1001,2000-01-07,0.01,101.37,3.93,5.99,0.55,0.58,14.51,0.63,...,3.28,1.59,1.69,5.02,6.47,2.44,4.03,NaN,2000,1

In [18]:
weeks_in_year = 52

df['sin_week'] = np.sin(2*np.pi*df.week_num/weeks_in_year)
df['cos_week'] = np.cos(2*np.pi*df.week_num/weeks_in_year)

/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/2909890430.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sin_week'] = np.sin(2*np.pi*df.week_num/weeks_in_year)
/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/2909890430.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cos_week'] = np.cos(2*np.pi*df.week_num/weeks_in_year)

In [21]:
df[df.fips==1001].head(50)

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score,year,week_num,sin_week,cos_week
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,2.67,7.53,9.52,5.87,3.66,NaN,2000,1,0.120537,0.992709
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,3.59,6.73,9.31,3.74,5.58,1.0,2000,1,0.120537,0.992709
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,1.98,2.94,4.85,0.65,4.19,NaN,2000,1,0.120537,0.992709
5,1001,2000-01-06,0.01,101.31,3.49,4.99,-1.11,-1.07,12.89,-2.96,...,2.35,2.95,5.22,0.05,5.17,NaN,2000,1,0.120537,0.992709
6,1001,2000-01-07,0.01,101.37,3.93,5.99,0.55,0.58,14.51,0.63,...,1.69,5.02,6.47,2.44,4.03,NaN,2000,1,0.120537,0.992709
7,1001,2000-01-08,1.02,100.77,5.71,8.69,5.33,5.34,15.78,2.74,...,1.40,4.17,5.73,2.01,3.72,NaN,2000,1,0.120537,0.992709
8,1001,2000-01-09,16.19,99.88,11.18,15.73,15.45,15.45,19.60,10.30,...,1.73,5.97,7.44,4.95,2.49,NaN,2000,1,0.120537,0.992709
9,1001,2000-01-10,21.23,99.78,7.77,13.61,9.59,9.60,17.65,7.73,...,3.88,6.33,10.03,4.15,5.88,NaN,2000,2,0.239316,0.970942
10,1001,2000-01-11,1.33,100.40,6.63,11.48,7.84,7.84,18.88,5.72,...,1.43,3.55,6.38,1.71,4.67,2.0,2000,2,0.239316,0.970942
11,1001,2000-01-12,0.17,100.59,8.39,13.02,11.36,11.36,20.74,6.43,...,1.31,5.05,7.27,2.10,5.17,NaN,2000,2,0.239316,0.970942
12,1001,2000-01-13,1.57,101.03,7.23,13.17,8.00,8.02,19.09,3.97,...,2.56,6.41,7.40,4.77,2.63,NaN,2000,2,0.239316,0.970942
13,1001,2000-01-14,0.00,102.30,2.82,3.16,-3.74,-3.64,10.57,-1.56,...,1.93,5.32,6.72,3.60,3.12,NaN,2000,2,0.239316,0.970942
14,1001,2000-01-15,0.04,102.05,3.37,4.11,-1.59,-1.54,13.56,-3.19,...,1.24,4.94,7.00,2.03,4.97,NaN,2000,2,0.239316,0.970942
15,1001,2000-01-16,0.54,101.55,6.52,9.09,7.23,7.23,16.77,1.40,...,1.78,4.40,5.34,2.42,2.91,NaN,2000,2,0.239316,0.970942
16,1001,2000-01-17,2.40,101.02,8.99,14.00,12.46,12.46,19.75,10.27,...,1.63,2.78,5.43,0.93,4.50,NaN,2000,3,0.354605,0.935016
17,1001,2000-01-18,1.11,100.39,9.53,14.28,13.26,13.26,18.04,8.98,...,1.92,5.19,6.40,3.84,2.55,2.0,2000,3,0.354605,0.935016
18,1001,2000-01-19,1.90,99.95,6.33,9.51,6.57,6.58,15.27,4.88,...,3.00,4.66,8.51,2.95,5.56,NaN,2000,3,0.354605,0.935016
19,1001,2000-01-20,0.23,100.16,3.91,6.61,-0.94,-0.84,13.25,-1.88,...,3.05,7.43,8.69,4.62,4.07,NaN,2000,3,0.354605,0.935016
20,1001,2000-01-21,0.00,100.81,2.10,-0.32,-7.69,-7.44,6.78,-5.18,...,1.53,4.22,5.00,3.18,1.81,NaN,2000,3,0.354605,0.935016
21,1001,2000-01-22,8.98,100.24,4.44,4.19,1.18,1.21,10.40,-1.82,...,1.78,4.47,6.02,3.07,2.96,NaN,2000,3,0.354605,0.935016
22,1001,2000-01-23,13.50,99.87,7.33,9.62,9.00,9.00,12.68,4.32,...,1.86,4.17,6.73,2.39,4.35,NaN,2000,3,0.354605,0.935016
23,1001,2000-01-24,0.88,100.17,3.38,2.38,-1.76,-1.72,7.49,-3.84,...,2.39,6.19,7.24,4.86,2.38,NaN,2000,4,0.464723,0.885456
24,1001,2000-01-25,0.00,100.11,2.05,-0.78,-7.93,-7.72,5.65,-5.46,...,2.32,5.75,8.03,3.96,4.07,2.0,2000,4,0.464723,0.885456
25,1001,2000-01-26,0.24,100.75,1.73,-2.30,-9.76,-9.46,3.17,-5.27,...,2.39,5.28,6.94,4.07,2.87,NaN,2000,4,0.464723,0.885456
26,1001,2000-01-27,0.24,101.17,2.39,-0.14,-6.02,-5.89,7.06,-5.32,...,1.35,3.85,5.76,2.34,3.41,NaN,2000,4,0.464723,0.885456
27,1001,2000-01-28,15.58,101.22,3.52,0.61,-0.90,-0.89,2.51,-0.74,...,2.36,5.40,6.38,3.44,2.93,NaN,2000,4,0.464723,0.885456
28,1001,2000-01-29,8.39,100.93,4.56,3.07,2.54,2.55,5.83,0.55,...,2.79,3.75,6.97,1.85,5.12,NaN,2000,4,0.464723,0.885456
29,1001,2000-01-30,0.87,100.94,3.88,2.32,0.26,0.27,7.28,-3.16,...,2.14,4.28,5.77,2.19,3.58,NaN,2000,4,0.464723,0.885456
30,1001,2000-01-31,0.00,100.94,2.81,-0.27,-3.93,-3.88,7.06,-4.75,...,1.37,3.87,5.04,2.90,2.14,NaN,2000,5,0.568065,0.822984
31,1001,2000-02-01,0.00,101.00,3.36,2.06,-1.73,-1.70,11.02,-4.21,...,1.86,4.18,6.38,1.27,5.11,1.0,2000,5,0.568065,0.822984
32,1001,2000-02-02,0.00,101.24,2.92,2.09,-3.42,-3.36,10.66,-4.30,...,1.09,3.39,4.37,2.18,2.19,NaN,2000,5,0.568065,0.822984
33,1001,2000-02-03,0.00,100.50,3.69,4.79,-0.79,-0.74,12.86,-3.19,...,2.68,4.16,7.54,0.79,6.75,NaN,2000,5,0.568065,0.822984
34,1001,2000-02-04,0.00,100.56,3.64,5.39,-0.87,-0.81,11.77,-1.32,...,2.99,5.99,8.35,3.17,5.18,NaN,2000,5,0.568065,0.822984
35,1001,2000-02-05,0.00,101.42,2.76,0.78,-4.10,-4.03,8.62,-4.29,...,1.56,4.49,5.82,3.23,2.60,NaN,2000,5,0.568065,0.822984
36,1001,2000-02-06,0.00,101.43,2.82,2.67,-3.96,-3.87,11.23,-4.84,...,1.99,2.80,4.30,0.78,3.52,NaN,2000,5,0.568065,0.822984
37,1001,2000-02-07,0.00,101.19,3.98,6.04,0.62,0.64,13.45,0.14,...,2.02,3.12,5.45,0.74,4.72,NaN,2000,6,0.663123,0.748511
38,1001,2000-02-08,0.00,101.04,5.01,8.88,3.90,3.91,17.64,2.65,...,1.55,2.74,5.33,0.69,4.63,1.0,2000,6,0.663123,0.748511
39,1001,2000-02-09,0.00,100.81,4.89,9.07,3.54,3.56,17.77,2.87,...,2.44,2.76,5.51,0.31,5.20,NaN,2000,6,0.663123,0.748511
40,1001,2000-02-10,0.00,100.11,6.22,10.41,6.63,6.64,18.85,2.68,...,2.20,5.35,7.41,2.08,5.33,NaN,2000,6,0.663123,0.748511
41,1001,2000-02-11,0.02,100.00,9.82,15.60,13.60,13.60,22.69,9.11,...,1.15,4.78,6.33,3.24,3.09,NaN,2000,6,0.663123,0.748511
42,1001,2000-02-12,0.51,100.14,9.86,15.97,13.73,13.73,20.31,10.97,...,2.60,4.38,5.76,0.90,4.86,NaN,2000,6,0.663123,0.748511
43,1001,2000-02-13,9.65,99.82,11.42,16.43,15.92,15.92,19.85,11.06,...,2.70,6.39,8.90,4.24,4.66,NaN,2000,6,0.663123,0.748511
44,1001,2000-02-14,1.78,99.95,8.56,14.86,11.14,11.14,20.26,5.89,...,2.38,5.93,7.81,4.49,3.32,NaN,2000,7,0.748511,0.663123
45,1001,2000-02-15,0.00,100.68,5.84,10.94,5.84,5.84,20.57,2.05,...,0.96,4.62,7.63,2.57,5.07,1.0,2000,7,0.748511,0.663123
46,1001,2000-02-16,0.06,100.73,9.23,15.05,12.68,12.68,22.71,8.44,...,1.51,2.93,5.53,1.20,4.34,NaN,2000,7,0.748511,0.663123
47,1001,2000-02-17,0.54,100.72,9.38,16.29,12.77,12.77,23.36,9.82,...,1.03,4.41,6.22,3.13,3.09,NaN,2000,7,0.748511,0.663123
48,1001,2000-02-18,3.48,100.42,11.71,18.60,16.48,16.48,24.24,14.17,...,2.41,5.88,7.35,4.47,2.88,NaN,2000,7,0.748511,0.663123
49,1001,2000-02-19,1.96,100.83,6.52,12.11,6.66,6.67,17.00,3.23,...,1.78,5.81,6.67,4.42,2.25,NaN,2000,7,0.748511,0.663123
50,1001,2000-02-20,0.00,101.46,3.86,6.01,0.34,0.37,14.55,0.08,...,1.40,4.83,6.51,3.89,2.62,NaN,2000,7,0.748511,0.663123
51,1001,2000-02-21,0.02,101.49,3.98,7.58,0.67,0.71,16.83,-0.87,...,1.39,4.18,6.34,2.32,4.02,NaN,2000,8,0.822984,0.568065

In [25]:
BUCKET_NAME='drought-modelling-models'
DATA_BUCKET_NAME = 'drought-modelling-datasets'
BUCKET_TRAIN_DATA_PATH = 'data/train_timeseries.csv'
BUCKET_VAL_DATA_PATH = 'data/validation_timeseries.csv'
BUCKET_TEST_DATA_PATH = 'data/test_timeseries.csv'
BUCKET_FIPS_PATH = 'data/fips_dict.csv'

class DataFunctions():
    
    def __init__(self, local=False):
        
        file_path = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
        full_path_train = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'train_timeseries.csv')
        full_path_validate = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'validation_timeseries.csv')
        full_path_test = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'test_timeseries.csv')
        full_path_fips = os.path.join(file_path,'realGhostFoxx','droughts_modelling', 'raw_data', 'fips_dict.csv')
        
        if local:
            self.train_data = pd.read_csv(full_path_train)[2:]
            self.validation_data = pd.read_csv(full_path_validate)[1:]
            self.test_data = pd.read_csv(full_path_test)[6:]
            self.fips_dict = pd.read_csv(full_path_fips,index_col=[0])
        else:
            self.train_data = pd.read_csv(f"gs://{DATA_BUCKET_NAME}/{BUCKET_TRAIN_DATA_PATH}")
            self.validation_data = pd.read_csv(f"gs://{DATA_BUCKET_NAME}/{BUCKET_VAL_DATA_PATH}")
            self.test_data = pd.read_csv(f"gs://{DATA_BUCKET_NAME}/{BUCKET_TEST_DATA_PATH}")
            self.fips_dict = pd.read_csv(f"gs://{DATA_BUCKET_NAME}/{BUCKET_FIPS_PATH}")
          
    def light_weekly_aggregate_train(self, scope='all'):
        
        if scope != 'all':
            df = self.train_data[self.train_data['fips'] == 1001]
        else:
            df = self.train_data
   
        df['year'] = pd.to_datetime(df['date']).dt.year
        df['week_num'] = pd.to_datetime(df['date']).dt.week

        df['score_day'] = df['score'].apply(lambda x: 'yes' if pd.notnull(x) == True else '')

        aggregated_data_train = df.groupby(['fips','year','week_num']).agg(
                                        {'PRECTOT': ['mean'],
                                        'PS': ['mean'],
                                        'QV2M': ['mean'],
                                        'T2M': ['mean'],
                                        'T2MDEW': ['mean'],
                                        'T2MWET': ['mean'],
                                        'T2M_MAX': ['mean'],
                                        'T2M_MIN': ['mean'],
                                        'T2M_RANGE': ['mean'],
                                         'TS': ['mean'],
                                         'WS10M': ['mean'],
                                         'WS10M_MAX': ['mean'],
                                         'WS10M_MIN': ['mean'],
                                         'WS10M_RANGE': ['mean'],
                                         'WS50M': ['mean'],
                                         'WS50M_MAX': ['mean'],
                                         'WS50M_MIN': ['mean'],
                                         'WS50M_RANGE': ['mean'],
                                         'score': 'max'}).reset_index().sort_values(['fips','year','week_num'])

        aggregated_data_train.columns = ['_'.join(col) for col in aggregated_data_train.columns.values]
        aggregated_data_train['score_max'] = aggregated_data_train['score_max'].map(lambda x: np.round(x))
        
        fips_dict = self.fips_dict.drop(columns=['COUNTYNAME',"STATE",'geom']).rename(columns={'fips':'fips_'})
        fips_dict["lat_long"] = fips_dict["lat_long"].transform(lambda x: ast.literal_eval(x))
        fips_dict["lat"] = pd.DataFrame(fips_dict["lat_long"].tolist())[0]
        fips_dict["long"] = pd.DataFrame(fips_dict["lat_long"].tolist())[1]
        fips_dict.drop(columns=["lat_long"],inplace=True)
        aggregated_data_train = pd.merge(aggregated_data_train,fips_dict, on=["fips_"], how="inner")
        
        aggregated_data_train['sin_week_num'] = np.sin(2*np.pi*aggregated_data_train.week_num/52)
        aggregated_data_train['cos_week_num'] = np.cos(2*np.pi*aggregated_data_train.week_num/52)
        
        aggregated_data_train = aggregated_data_train[['fips_', 'year_', 'sin_week_num', 'cos_week_num', 'PRECTOT_mean', 'PS_mean', 'QV2M_mean',
       'T2M_mean', 'T2MDEW_mean', 'T2MWET_mean', 'T2M_MAX_mean',
       'T2M_MIN_mean', 'T2M_RANGE_mean', 'TS_mean', 'WS10M_mean',
       'WS10M_MAX_mean', 'WS10M_MIN_mean', 'WS10M_RANGE_mean', 'WS50M_mean',
       'WS50M_MAX_mean', 'WS50M_MIN_mean', 'WS50M_RANGE_mean','lat', 'long','score_max']]
        
        return aggregated_data_train.dropna()

In [27]:
cat = DataFunctions(local=True)

_request out of retries on exception: Cannot connect to host storage.googleapis.com:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)')]
Traceback (most recent call last):
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 969, in _wrap_create_connection
    return await self._loop.create_connection(*args, **kwargs)  # type: ignore  # noqa
  File "/Users/voxxy/.pyenv/versions/3.8.6/lib/python3.8/asyncio/base_events.py", line 1050, in create_connection
    transport, protocol = await self._create_connection_transport(
  File "/Users/voxxy/.pyenv/versions/3.8.6/lib/python3.8/asyncio/base_events.py", line 1080, in _create_connection_transport
    await waiter
  File "/Users/voxxy/.pyenv/versions/3.8.6/lib/python3.8/asyncio/sslproto.py", line 529, in data_received
    ssldata, appdata = self._sslpipe.feed_ssldata(data)
  File "/Users/voxxy/.pyenv/versions/3.8.6/lib/python3.8/asyncio/sslproto.py", line 189, in feed_ssldata
    self._sslobj.do_handshake()
  File "/Users/voxxy/.pyenv/versions/3.8.6/lib/python3.8/ssl.py", line 944, in do_handshake
    self._sslobj.do_handshake()
ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/gcsfs/retry.py", line 110, in retry_request
    return await func(*args, **kwargs)
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/gcsfs/core.py", line 317, in _request
    async with self.session.request(
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/client.py", line 1117, in __aenter__
    self._resp = await self._coro
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/client.py", line 520, in _request
    conn = await self._connector.connect(
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 535, in connect
    proto = await self._create_connection(req, traces, timeout)
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 892, in _create_connection
    _, proto = await self._create_direct_connection(req, traces, timeout)
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 1051, in _create_direct_connection
    raise last_exc
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 1020, in _create_direct_connection
    transp, proto = await self._wrap_create_connection(
  File "/Users/voxxy/.pyenv/versions/droughts/lib/python3.8/site-packages/aiohttp/connector.py", line 971, in _wrap_create_connection
    raise ClientConnectorCertificateError(req.connection_key, exc) from exc
aiohttp.client_exceptions.ClientConnectorCertificateError: Cannot connect to host storage.googleapis.com:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)')]

In [ ]:
df2 = cat.light_weekly_aggregate_train()

/var/folders/kh/fd0llhc91_s537ztm8vty5q00000gn/T/ipykernel_24500/1295774877.py:37: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week_num'] = pd.to_datetime(df['date']).dt.week

In [ ]:
df2.head()