In [1]:

%load_ext autoreload

%autoreload 2

from droughts_modelling.data import DataFunctions

In [2]:
df = DataFunctions().light_weekly_aggregate()

In [92]:
best_features = DataFunctions().k_best_features()

In [4]:
df.shape

(2756796, 22)

In [4]:
df.head()

   fips_  year_  week_num_  ...  WS50M_MIN_mean  WS50M_RANGE_mean  score_max
0   1001   2000          1  ...        2.815714          4.120000        1.0
1   1001   2000          2  ...        2.968571          4.192857        2.0
2   1001   2000          3  ...        2.997143          3.685714        2.0
3   1001   2000          4  ...        3.244286          3.480000        2.0
4   1001   2000          5  ...        2.045714          3.927143        1.0

[5 rows x 22 columns]

In [93]:
best_features

    index          features  ANOVA F-value         pValue
0       8    T2M_RANGE_mean   42939.660402   0.000000e+00
1       1           PS_mean   20921.723797   0.000000e+00
2       6      T2M_MAX_mean    9304.746500   0.000000e+00
3      13  WS10M_RANGE_mean    6030.908852   0.000000e+00
4       0      PRECTOT_mean    5982.366774   0.000000e+00
5       9           TS_mean    5596.430819   0.000000e+00
6       3          T2M_mean    4849.891364   0.000000e+00
7      17  WS50M_RANGE_mean    4569.074706   0.000000e+00
8       7      T2M_MIN_mean    2664.316644   0.000000e+00
9       4       T2MDEW_mean    2657.948573   0.000000e+00
10      5       T2MWET_mean    2602.284426   0.000000e+00
11     11    WS10M_MAX_mean    2531.072508   0.000000e+00
12      2         QV2M_mean    2109.909454   0.000000e+00
13     16    WS50M_MIN_mean    1106.461148   0.000000e+00
14     10        WS10M_mean    1026.388412   0.000000e+00
15     15    WS50M_MAX_mean     806.133325   0.000000e+00
16     12    WS10M_MIN_mean     218.151962  1.491800e-233
17     14        WS50M_mean     202.019565  4.291735e-216

In [94]:
tree_features = DataFunctions().tree_feature_importance()

In [111]:
tree_features

            features  Feature Importance
8     T2M_RANGE_mean            0.525588
1            PS_mean            0.185012
6       T2M_MAX_mean            0.093779
9            TS_mean            0.066087
4        T2MDEW_mean            0.060744
2          QV2M_mean            0.020593
11    WS10M_MAX_mean            0.018149
0       PRECTOT_mean            0.017174
7       T2M_MIN_mean            0.008050
13  WS10M_RANGE_mean            0.003513
10        WS10M_mean            0.001031
15    WS50M_MAX_mean            0.000279
5        T2MWET_mean            0.000000
3           T2M_mean            0.000000
12    WS10M_MIN_mean            0.000000
14        WS50M_mean            0.000000
16    WS50M_MIN_mean            0.000000
17  WS50M_RANGE_mean            0.000000

In [117]:
(sorted(df['year_'].unique()))

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [130]:
smol_df_train = df[df['year_'] < 2012 ]
smol_df_test = df[df['year_'] >= 2013]

In [131]:
import pandas as pd

a = pd.DataFrame(smol_df_12.iloc[22, :]).T

In [121]:
smol_df_train.head()

,fips_,year_,week_num_,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,...,TS_mean,WS10M_mean,WS10M_MAX_mean,WS10M_MIN_mean,WS10M_RANGE_mean,WS50M_mean,WS50M_MAX_mean,WS50M_MIN_mean,WS50M_RANGE_mean,score_max
0,1001,2000,1,5.261429,100.702857,6.491429,9.878571,5.648571,5.674286,16.345714,...,9.397143,2.630000,3.722857,1.520000,2.201429,5.044286,6.934286,2.815714,4.120000,1.0
1,1001,2000,2,3.554286,101.100000,6.104286,9.662857,5.527143,5.552857,16.751429,...,9.431429,2.472857,3.585714,1.568571,2.018571,5.142857,7.162857,2.968571,4.192857,2.0
2,1001,2000,3,4.017143,100.348571,6.090000,8.270000,4.834286,4.890000,13.738571,...,8.194286,2.507143,3.574286,1.461429,2.110000,4.702857,6.682857,2.997143,3.685714,2.0
3,1001,2000,4,3.742857,100.755714,3.072857,0.737143,-3.367143,-3.265714,5.570000,...,0.817143,2.774286,3.908571,1.664286,2.248571,4.928571,6.727143,3.244286,3.480000,2.0
4,1001,2000,5,0.000000,101.012857,3.142857,2.501429,-2.685714,-2.627143,10.460000,...,2.021429,2.211429,3.161429,1.225714,1.934286,4.125714,5.971429,2.045714,3.927143,1.0

In [53]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

In [132]:
train_X = smol_df_train.drop(columns=['year_', 'score_max'])
train_y = smol_df_train['score_max']

test_X = smol_df_test.drop(columns=['year_', 'score_max'])
test_y = smol_df_test['score_max']

In [133]:
model_1 = HistGradientBoostingClassifier(loss='categorical_crossentropy',
                                        l2_regularization=1.0).fit(train_X, train_y)

In [134]:
model_1.score(test_X, test_y)

0.633489436121015

In [80]:
model_1.predict_proba(a.drop(columns=['year_', 'score_max']))

array([[0.77779635, 0.0976554 , 0.03430736, 0.05485331, 0.03313265,
        0.00225494]])

In [137]:
model_1.classes_

array([0., 1., 2., 3., 4., 5.])

In [138]:
model_1.predict(a.drop(columns=['year_', 'score_max']))

array([0.])

In [139]:
model_1.predict_proba(a.drop(columns=['year_', 'score_max']))

array([[0.62716358, 0.19577177, 0.11599762, 0.03855072, 0.01652579,
        0.00599051]])

In [140]:
a

,fips_,year_,week_num_,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,...,TS_mean,WS10M_mean,WS10M_MAX_mean,WS10M_MIN_mean,WS10M_RANGE_mean,WS50M_mean,WS50M_MAX_mean,WS50M_MIN_mean,WS50M_RANGE_mean,score_max
648,1001.0,2012.0,23.0,4.227143,99.742857,13.927143,24.315714,18.988571,18.988571,29.82,...,24.44,2.27,3.33,1.264286,2.065714,4.345714,5.968571,2.677143,3.291429,2.0

In [209]:
train_y.value_counts(normalize=True)

0.0    0.603674
1.0    0.168014
2.0    0.108748
3.0    0.071536
4.0    0.036198
5.0    0.011830
Name: score_max, dtype: float64

In [169]:
trial = smol_df_train[['fips_', 'year_', 'week_num_', 'PRECTOT_mean', 'score_max']]\
                                                    .sort_values(['fips_', 'year_'])\
                                                    .iloc[50:60]
trial

    fips_  year_  week_num_  PRECTOT_mean  score_max
50   1001   2000         51      2.010000        3.0
51   1001   2000         52      8.182857        3.0
52   1001   2001          1      2.477143        3.0
53   1001   2001          2      1.484286        3.0
54   1001   2001          3      6.682857        3.0
55   1001   2001          4      0.020000        2.0
56   1001   2001          5      5.281429        2.0
57   1001   2001          6      2.817143        2.0
58   1001   2001          7      6.018571        2.0
59   1001   2001          8      7.845714        2.0

In [207]:
# first_fip = 1001
for i in range(1, 13):
    # break if first_fip != last_fip
    trial[f'PRECTOT_mean - {i}'] = trial['PRECTOT_mean'].shift(i, fill_value='')
    #first_fip

trial

,fips_,year_,week_num_,PRECTOT_mean,score_max,PRECTOT_mean - 1,PRECTOT_mean - 2,PRECTOT_mean - 3,PRECTOT_mean - 4,PRECTOT_mean - 5,PRECTOT_mean - 6,PRECTOT_mean - 7,PRECTOT_mean - 8,PRECTOT_mean - 9,PRECTOT_mean - 10,PRECTOT_mean - 11,PRECTOT_mean - 12
50,1001,2000,51,2.010000,3.0,,,,,,,,,,,,
51,1001,2000,52,8.182857,3.0,2.01,,,,,,,,,,,
52,1001,2001,1,2.477143,3.0,8.182857,2.01,,,,,,,,,,
53,1001,2001,2,1.484286,3.0,2.477143,8.182857,2.01,,,,,,,,,
54,1001,2001,3,6.682857,3.0,1.484286,2.477143,8.182857,2.01,,,,,,,,
55,1001,2001,4,0.020000,2.0,6.682857,1.484286,2.477143,8.182857,2.01,,,,,,,
56,1001,2001,5,5.281429,2.0,0.02,6.682857,1.484286,2.477143,8.182857,2.01,,,,,,
57,1001,2001,6,2.817143,2.0,5.281429,0.02,6.682857,1.484286,2.477143,8.182857,2.01,,,,,
58,1001,2001,7,6.018571,2.0,2.817143,5.281429,0.02,6.682857,1.484286,2.477143,8.182857,2.01,,,,
59,1001,2001,8,7.845714,2.0,6.018571,2.817143,5.281429,0.02,6.682857,1.484286,2.477143,8.182857,2.01,,,