In [2]:
from droughts_modelling.data import train_last_2_years
import pandas as pd
import numpy as np
import datetime as dt

import seaborn as sns

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

## Train Set

In [14]:
train_df = pd.read_csv('/Users/voxxy/code/realGhostFoxx/droughts_modelling/raw_data/test_timeseries.csv')

### Check for NaNs

In [15]:
train_df.isnull().sum()

fips                 0
date                 0
PRECTOT              0
PS                   0
QV2M                 0
T2M                  0
T2MDEW               0
T2MWET               0
T2M_MAX              0
T2M_MIN              0
T2M_RANGE            0
TS                   0
WS10M                0
WS10M_MAX            0
WS10M_MIN            0
WS10M_RANGE          0
WS50M                0
WS50M_MAX            0
WS50M_MIN            0
WS50M_RANGE          0
score          1945608
dtype: int64

### Check for nulls

In [16]:
train_df.isna().sum()

fips                 0
date                 0
PRECTOT              0
PS                   0
QV2M                 0
T2M                  0
T2MDEW               0
T2MWET               0
T2M_MAX              0
T2M_MIN              0
T2M_RANGE            0
TS                   0
WS10M                0
WS10M_MAX            0
WS10M_MIN            0
WS10M_RANGE          0
WS50M                0
WS50M_MAX            0
WS50M_MIN            0
WS50M_RANGE          0
score          1945608
dtype: int64

### Check for duplicates

In [17]:
train_df.duplicated().sum()

0

### Check unique values

In [18]:
train_df.nunique()

fips            3108
date             731
PRECTOT         7020
PS              3636
QV2M            2205
T2M             6805
T2MDEW          6028
T2MWET          5766
T2M_MAX         7122
T2M_MIN         6796
T2M_RANGE       2666
TS              7156
WS10M           1493
WS10M_MAX       1950
WS10M_MIN       1189
WS10M_RANGE     1625
WS50M           1856
WS50M_MAX       2377
WS50M_MIN       1485
WS50M_RANGE     1937
score          24420
dtype: int64

## Validation Set

In [ ]:
val_df = pd.read_csv('/Users/voxxy/code/realGhostFoxx/droughts_modelling/raw_data/validation_timeseries.csv')

### Check for NaNs

In [ ]:
val_df.isnull().sum()

### Check for nulls

In [ ]:
val_df.isna().sum()

### Check for duplicates

In [ ]:
val_df.duplicated().sum()

### Check unique values

In [ ]:
val_df.nunique()

## Test Set

### Check for NaNs

### Check for nulls

### Check for duplicates

### Check unique values

In [19]:
train_df.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,6.46,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,8.23,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,3.30,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,12.75,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,10.69,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [27]:
df['week_num'] = pd.to_datetime(df['date']).dt.isocalendar().week
df['year'] = pd.to_datetime(df['date']).dt.isocalendar().year
df.groupby(['year', 'week_num', 'fips']).agg({'PRECTOT': 'mean'})

                      PRECTOT
year week_num fips
2019 1        1001   7.351667
              1003   6.246667
              1005   7.148333
              1007   7.445000
              1009   7.113333
...                       ...
2020 53       56035  0.225000
              56037  0.992500
              56039  0.812500
              56041  1.025000
              56043  0.002500

[326340 rows x 1 columns]